<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app id="WebApp_ID">
		<display-name>Archetype Created Web Application</display-name>	
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<display-name>LoginController</display-name>
		<servlet-class>mvcdemo.Controller.LoginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateInstance</servlet-name>
		<display-name>CreateInstance</display-name>
		<servlet-class>rackspace.openstack.CreateInstance</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteInstance</servlet-name>
		<display-name>DeleteInstance</display-name>
		<servlet-class>rackspace.openstack.DeleteInstance</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>android</servlet-name>
		<display-name>android</display-name>
		<servlet-class>emulator.android.android</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>androidvm</servlet-name>
		<display-name>androidvm</display-name>
		<servlet-class>emulator.androidvm.androidvm</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ios</servlet-name>
		<display-name>ios</display-name>
		<servlet-class>emulator.ios.ios</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateInstance</servlet-name>
		<url-pattern>/CreateInstance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteInstance</servlet-name>
		<url-pattern>/DeleteInstance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>android</servlet-name>
		<url-pattern>/android</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>androidvm</servlet-name>
		<url-pattern>/androidvm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ios</servlet-name>
		<url-pattern>/ios</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	</web-app>
